<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
     <h1 class="heading">Issue - An Issue Tracker App</h1>
     <% for(post of posts){%>
    <div class="post">
    <h3>Id Number: <%= post.id %></h3>
    <button class="open-close" >Open</button>
    <h3 class="username"> Issued By: <%=post.username%></h3>
    <h3 class="StudentId">Student Uid: <%=post.StudentId%></h3>
    <h3 class="DepartMent">Department:<%=post.DepartMent%></h3>
    <h3 class="Issue"> Issue: <%=post.Issue%></h3>
    <div class="view-delete">
        <button class="btn-view" onclick="window.location.href='http://localhost:8080/posts/<%= post.id %>'">View</button>
        <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
            <button class="btn-delete">Delete post</button>
        </form>
    </div>
    </div>
    <% } %>
    <div class="button">
        <button class="btn" onclick="window.location.href='http://localhost:8080/posts/new'">CREATE ISSUE</button>
    </div>
</body>
<script src="/app.js"></script>
</html>
